table {
background-color: Bisque;
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
border-top: 1px solid black;
    border-collapse: collapse;
}
.ft {
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
border-top: 1px solid black;
    border-collapse: collapse;
}

.center{
    text-align: center;
}